node_modules
.env
.idea

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types
/types

# solidity-coverage files
/coverage
/coverage.json

# Gas reporter files
.gas-reports.json

# Foundry files
/out
/foundry.lock
lcov.info

# Hide CI workflow and automation scripts from contributors
.github/workflows/ci.yml
create_issues_contract.sh
issues_to_created_contract.md


# HH3 typechain output
/types
